<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

<!-- 指定数据连接驱动jar地址 -->
<!--<classPathEntry location="D:\.m2\repository\mysql\mysql-connector-java\8.0.11\mysql-connector-java-8.0.11.jar" />-->

<!-- 一个数据库一个context -->
<context id="infoGuardian" targetRuntime="MyBatis3DynamicSql">
    <!-- 注释 -->
    <commentGenerator >
        <property name="suppressAllComments" value="true"/><!-- 是否取消注释 -->
        <property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳-->
    </commentGenerator>

    <!-- jdbc连接 -->
    <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                    connectionURL="jdbc:mysql://localhost:3306/security_rbac?useSSL=false&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Shanghai&amp;nullCatalogMeansCurrent=true"
                    userId="root"
                    password="liubo123456" />

    <!-- 类型转换 -->
    <javaTypeResolver>
        <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
        <property name="forceBigDecimals" value="false"/>
    </javaTypeResolver>

    <!-- 生成实体类地址 -->
    <javaModelGenerator targetPackage="com.example.springsecurityrbac.model"
                        targetProject="src\main\java" >
        <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
        <property name="enableSubPackages" value="false"/>
        <!-- 是否针对string类型的字段在set的时候进行trim调用 -->
        <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <!-- 生成mapxml文件 -->
    <sqlMapGenerator targetPackage="mybatis"
                     targetProject="src\main\resources" >
        <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
        <property name="enableSubPackages" value="false" />
    </sqlMapGenerator>

    <!-- 生成mapxml对应client，也就是接口dao -->
    <javaClientGenerator targetPackage="com.example.springsecurityrbac.dao"
                         targetProject="src\main\java" type="XMLMAPPER" >
        <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
        <property name="enableSubPackages" value="false" />
    </javaClientGenerator>

    <!-- 配置表信息 -->
    <!--<table tableName="user"-->
           <!--domainObjectName="User" enableCountByExample="false"-->
           <!--enableDeleteByExample="false" enableSelectByExample="false"-->
           <!--enableUpdateByExample="false">-->
        <!---->
        <!--&lt;!&ndash; schema即为数据库名 tableName为对应的数据库表 domainObjectName是要生成的实体类 enable*ByExample-->
            <!--是否生成 example类   &ndash;&gt;-->
    <!--</table>-->
    <table tableName="user_role" domainObjectName="UserRole"></table>
    <table tableName="user_role" domainObjectName="UserRole"></table>
    <table tableName="role" domainObjectName="Role"></table>
    <table tableName="permission" domainObjectName="Permission"></table>
    <table tableName="role_permission" domainObjectName="RolePermission"></table>
</context>
</generatorConfiguration>